
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: #C1C07E;
}
header
{
    text-align: center;
}
.navbar #nav{
    list-style-type: none;
    background-color: hsl(59, 35%, 63%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(58, 16%, 59%);
}
.navbar li{
    float: left;
}



/* section and aside */


    main {
        display: flex;
        justify-content: space-between;
        padding: 20px;
      }
      
      article {
        flex: 2;
        background-color: #c1c07e;
        padding: 10px;
      }
      
      aside {
        flex: 1;
        background-color: #C1C07Ev;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .advert{
        justify-content: center;
        text-align: center;
      }

    /*footer*/
    
    .footerBottom{
        background-color: #000;
        padding: 20px;
        text-align: center;
    }
    .footerBottom p{
        color: white;
    }

    .name{
        text-transform: initial;
        letter-spacing: 0px;
        font-weight: 40;
        margin: 0px;
    }
    
    @media (max-width: 700px){
        .footerNav ul{
            flex-direction: column;
        } 
        .footerNav ul li{
            width:100%;
            text-align: center;
            margin: 10px;
        }
        .socialIcons a{
            padding: 8px;
            margin: 4px;
        }
    }